body {
    margin: 0;
    padding: 0;
}

.caption {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-align: center;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
}

.blockCards {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 800px;
    gap: 20px;
}

.card {
    width: 250px;
    border-radius: 15px;
}

.imgCard {
    width: 250px;
    border-radius: 15px;
}